extends layout

block content
  h1= title
  p Welcome to #{title}
  #controls
    button(type='button', id='start-recording-button') start recording
    button(type='button', id='stop-recording-button') stop recording
  #localVideoContainer
    video(width=640, height=480, id='local-video', autoplay='autoplay', src)
