body {
    font-family:Helvetica;
}

.section {
    height:1000px;
}

.dashboard {
    background-color:#f2f2f2;
    height:420px;
}

.button {
    background-color:#F00;
    padding:10px;
    text-align:center;
    font-weight:bold;
    color:#FFFFFF;
    font-size:24px;
}